html, body {
        height: 100%;
        margin: 0;
        padding: 0;
 }





/*for map in contact page*/
#map {
    width:800px;height:380px;align:left;
 <!--  width: 50; height: 50%; background-color: green; float:left;" -->
 }
#top_head{
    text-align: center;
    font-size:10;
}


/*for the heading of page polling application*/
.brand {
    display: inherit;
    margin: 0;
    padding: 30px 0 10px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
    color: black;
}

/*for nav bar*/
.navbar-default {
    border: none;
    background: rgba(0,0,0,0.65);

}

/*for nav bar*/
.navbar {
    min-height: 0;
    border-radius: 0;
}

/*for nav bar*/
.navbar-nav {
    display: table;
    float: none;
    margin: 0 auto;
    table-layout: fixed;
    font-size: 1.25em;
        text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}


.navbar-default .navbar-nav>li>a {
    color: white;
}


.div-ele1 {
    width: 1290px;
    margin-left: 0px;
    /* margin-right: -20px; */

}

/*logout botton styling*/
.botton-logout
{
        margin-top: 10px;
    margin-left: 180px;
    margin-right: 0px;
    width: 80px;

}

/*styling dropdown*/
.dropdown {
    background-color: transparent;
    color: white;
    border: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 1.05em;
    width: 150px

}

/*hover color change*/
a:hover
{
    color: lawngreen !important;
 text-decoration: none !important;
}

/*focus color change*/
a:focus {
  color: #fbac03 !important;
    text-decoration: none !important;
}


.box {

    padding: 30px 15px;
    background: rgba(0,0,0,0.65);
    margin: auto;
    width: 90%;
    /*border: 3px solid #73AD21;*/
    margin-top: 30px;
    padding-bottom: 50px;

}

/*for footer at the end*/
.footer
{
     background-color: rgba(0,0,0,0.65);
    display: block;
    color: white;
    height: 30px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    /*margin-top: 40px;*/
    position: absolute;
    left: 0;
    bottom: 0;

}

/*for fixing footer at the end of page*/
.wrapper
{
min-height:100%;
position:relative;
}

/*profile page jumbotron*/
 #profileform {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    height: 450px;
    width: 1000px;
    /* padding: 20px 20px; */
 }

/*profile form*/
.well {
        width: 600px !important;
    margin-left: 200px !important;
    margin-top: 30px !important;
    height: 200px !important;
}


/*profile image*/
.imgprof
{
    float: right;
    height: 70px;
    width: 100px;
    margin-top: -55px;
}
