body {
    padding-top: 50px;
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}

.result-table td {
    padding: 8px;
}

.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}

.result-table td table {
    background-color: lightblue;
    text-align: right;
}



#signinform {
            background: rgba(0, 0, 0, 0.8);
            border-radius: 2px;
            border-top-right-radius: 2em;
            border-top-left-radius: 2em;
            border-bottom-right-radius: 2em;
            border-bottom-left-radius: 2em;
        }

p,
h1,
label {
            color: white !important;
        }

.jumbotron
{
    background: rgba(0, 0, 0, 0.8) !important;
}

.carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }

.carousel
{
     padding-top: 50px;
    background: rgba(0, 0, 0, 0.8);

}
