
 .result-table {
     margin: 20px 0;
     width: 100%;
     border-collapse: collapse;
 }
 
 .result-table td {
     padding: 8px;
 }
 
 .result-table > tbody > tr > td:first-child {
     width: 25%;
     max-width: 300px;
     text-align: right;
 }
 
 .result-table td table {
     background-color: lightblue;
     text-align: left;
 }
 

 p,
 h1,
 label {
     color:white;
    
 }

.color-grey p
{
     color: #7387a8;  
}
.color-grey label
{
     color: #7387a8;  
}.color-grey h1
{
     color: #7387a8;  
}
 #signinform {
     background: white;
     border-radius:12px;
     box-shadow: 10px 11px 17px #2c728c;
     color: #7387a8;
 
 }

 #signupform {
     line-height: 0.42857;
     background: white;
     box-shadow: 10px 11px 17px #2c728c;
     border-radius: 12px;
      color: #7387a8;
  
 }
 

 
 .jumbotron {
     background: rgba(0, 0, 0, 0.6) !important;
     border-radius: 1px !important;
 }
 
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 70%;
     margin: auto;
 }
 
 .carousel {
     padding-top: 50px;
     background: rgba(0, 0, 0, 0.5);
 }
 /*Styles for the Polls List View*/
 
 #pollListHead {
     text-align: center;
     color: white !important;
 }
 
 #pollList {}
 /*
 #pollList ul li {
     list-style-type: none;
     font-size: 18px;
     text-align: center;
     border-radius: 0.5em !important;   
     background: rgba(0, 0, 0, 0.8);
     padding-bottom: 10px;
     padding-top: 10px;
     margin-bottom: 5px;
     box-shadow: 10px 10px 5px #888888;
 }
 
 #pollList ul li a {
     display: block;
     text-decoration: none;
     font-style: normal;
     color: white;
 }
 
 #pollList ul li:hover {
     font-size: 18px;
     text-align: center;
     background-color: rgba(102, 102, 102, 0.8);
 }
 */




/*new added*/


.transparent {
    opacity: 0.7;	
}

.transparent:hover {
    opacity: 0.9;
}

.newPolls label 
{
    color:black;

}
.newPolls
{
    background:inherit;
    border:2px solid white;
}



#pollList .list-group-item
{
 margin:10px; 
 border-radius: 10px ; 
 box-shadow: 2px 2px 25px #182125;
}

.review-person {
  width: 100%;
    
}
.review-person img {
  width: 90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
}

#scrollbox3 {

    height: 500px;
    padding: 0 5px;
 
     overflow-x: hidden; /*for hiding horizontal scroll bar*/
   overflow-y: auto; /*for vertical scroll bar*/
   
}


#pollOptions div label
{
    color:black;
}

/*  radio */




.pollRadio div {
  clear: both;
  overflow: hidden;
}

.pollRadio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.pollRadio input[type="radio"]:empty,
.pollRadio input[type="checkbox"]:empty {
  display: none;
}

.pollRadio input[type="radio"]:empty ~ label,
.pollRadio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pollRadio input[type="radio"]:empty ~ label:before,
.pollRadio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.pollRadio input[type="radio"]:hover:not(:checked) ~ label,
.pollRadio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.pollRadio input[type="radio"]:hover:not(:checked) ~ label:before,
.pollRadio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.pollRadio input[type="radio"]:checked ~ label,
.pollRadio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.pollRadio input[type="radio"]:checked ~ label:before,
.pollRadio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.pollRadio input[type="radio"]:focus ~ label:before,
.pollRadio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.pollRadio-default input[type="radio"]:checked ~ label:before,
.pollRadio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.pollRadio-primary input[type="radio"]:checked ~ label:before,
.pollRadio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.pollRadio-success input[type="radio"]:checked ~ label:before,
.pollRadio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.pollRadio-danger input[type="radio"]:checked ~ label:before,
.pollRadio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.pollRadio-warning input[type="radio"]:checked ~ label:before,
.pollRadio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.pollRadio-info input[type="radio"]:checked ~ label:before,
.pollRadio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


.pollRadio {

    div {
        clear: both;
        overflow: hidden;
    }

    label {
        width: 100%;
        border-radius: 3px;
        border: 1px solid #D1D3D4;
        font-weight: normal;
    }

    input[type="radio"],
    input[type="checkbox"] {

        &:empty {
            display: none;

            ~ label {
                position: relative;
                line-height: 2.5em;
                text-indent: 3.25em;
                margin-top: 2em;
                cursor: pointer;
                user-select: none;

                &:before {
                    position: absolute;
                    display: block;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 2.5em;
                    background: #D1D3D4;
                    border-radius: 3px 0 0 3px;
                }
            }
        }

        &:hover:not(:checked) ~ label {
            color: #888;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #C2C2C2;
            }
        }

        &:checked ~ label {
            color: #777;

            &:before {
                content: '\2714';
                text-indent: .9em;
                color: #333;
                background-color: #ccc;
            }
        }

        &:focus ~ label:before {
            box-shadow: 0 0 0 3px #999;
        }
    }

    &-default {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #333;
                background-color: #ccc;
            }
        }
    }

    &-primary {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #337ab7;
            }
        }
    }

    &-success {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5cb85c;
            }
        }
    }

    &-danger {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #d9534f;
            }
        }
    }

    &-warning {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #f0ad4e;
            }
        }
    }

    &-info {
        input[type="radio"],
        input[type="checkbox"] {
            &:checked ~ label:before {
                color: #fff;
                background-color: #5bc0de;
            }
        }
    }
}


.vote > .panel-heading {
    background-color: white;
    color: black;
    border-color:white;
    
}


.btn.btn-primary {
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    border-radius:3em;
 
}
.btn.btn-primary:hover {
  color: #ffffff;
  background: #66cdcc;
  border-color: #66cdcc;
}

.btn.btn-success {
    border: 2px solid #66cdcc;
    background: none;
    color: #66cdcc;
    border-radius:3em;
 
}
.btn.btn-success:hover {
  color: #ffffff;
  background: #66cdcc;
  border-color: #66cdcc;
}

.login-image{
    border:2px solid;
}

.newPolls label 
{
    color:white;

}
.newPolls
{
      background: background-color:transparent;/*linear-gradient(-45deg, #66cdcc 0%, #336799 100%);*/
      border:2px solid white;

      border-radius: 10px;
      -webkit-box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
      box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
 
}

.newPolls .list-group-item{
  background:inherit;
  border:none;
}


#pollQuestionPane
{
  background:transparent;
  color:white;
}

.vote {
    border-color: white;
    background: transparent;

      -webkit-box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
      box-shadow: -2px 15px 49px 0px rgba(0,0,0,0.75);
}

.vote .list-group-item
{
   background:inherit;
   border:none;
}
.pollRadio-info
{
  background:white;
  border-radius:10px;
}


#panelFooter
{
  background:transparent;
}

.panel-footer
{
border:none
}

/*

.bar-graph
{
 background: linear-gradient(to bottom, rgba(30,87,153,0) 18%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 26%,rgba(41,137,216,1) 51%,rgba(30,87,153,1) 76%,rgba(30,87,153,1) 81%,rgba(30,87,153,0) 83%)!important;
   
}
*/

.result-table > tbody > tr > td >table {
  background: linear-gradient(to bottom, rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%);!important;
/*  background: linear-gradient(to bottom, rgba(255,48,25,1) 12%,rgba(207,4,4,1) 52%,rgba(255,48,25,1) 99%)!important;*/
 }

.result-table > tbody > tr > td:last-child {
    border-left:2px solid white;
 }
.result-table > tbody > tr > td {
    color:white;
    font-size:2em;
    font-family: "serif";
 }



 .result-table > tbody > tr:last-child > td:last-child {
   border-bottom:5px solid white;
 }
 





.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid white;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 5px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}


.comment-body { 
  background-color:white;
  border-radius: 10px;
  border:5px solid white; 
  margin: 5px 40px;
}

.message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
  border:1px solid white;    
}

.commentpic {
    border: 3px solid white;
    height: 60px;
    padding: 0 !important;
    width: 60px;
}

.comment-box{
    background: url("../../assets/img/freeze/bk-freeze.jpg");
    border-radius:10px;
    margin-bottom: 20px;
}

.comment-input
{  
    border-radius: 10px !important;
    margin-bottom:10px
}

.comment-message
{
        color: #66cdcc;
}