
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-2">
            <a href="#/dashboard" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
        </div>
      
          <div class="title_right">
            <div class="col-xs-7 col-xs-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control"   ng-model="query" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
    
    </div>

            <div class="row top_tiles">
<!--
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12"><a href="/polls#/entertainment">
                <div class="tile-stats dashboard-box"><img src="../images/entertainment.jpg">
                  <div class="icon"></div>
                  <div class="count">Entertainment</div><i class="fa fa-caret-square-o-right glyph" style="margin-top:-7%"></i>
                  <h3>Entertaining News</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
                  </a>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12"><a href="/polls#/sports">
                <div class="tile-stats "><img class="img-responsive" style="height:17.5em" src="../images/sports%201.jpg">
                  <div class="icon"></div>
                  <div class="count">Sports</div><i class="fa fa-soccer-ball-o glyph"></i>
                  <h3>Lets Play</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                  </div></a>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12"><a href="/polls#/politics">
                <div class="tile-stats dashboard-box"><img src="../images/Politics-and-language.jpg">
                  <div class="icon"></div>
                  <div class="count">Politics</div><i class="fa fa-hand-pointer-o glyph" ></i>
                  <h3>Vote for Best</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                  </div></a>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12" style="margin-top:5%;"><a href="/polls#/general">
                <div class="tile-stats dashboard-box"><img src="../images/general.jpg">
                  <div class="icon"></div>
                  <div class="count">General</div><i class="fa fa-check-square-o glyph" ></i>
                  <h3>Lets Poll</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                  </div></a>
              </div>
               <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12" style="margin-top:-35%;"><a href="/polls#/other">
                <div class="tile-stats dashboard-box"><img src="../images/others_1.jpg" >
                  <div class="icon"></div>
                  <div class="count">Others</div><i class="fa fa-video-camera glyph" ></i>
                  <h3>Box Office</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                   </div></a>
              </div> 
                
                <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12" style="margin-top:-35%;"><a href="/polls#/other">
                <div class="tile-stats dashboard-box"><img src="../images/others_1.jpg" >
                  <div class="icon"></div>
                  <div class="count">Others</div><i class="fa fa-video-camera glyph" ></i>
                  <h3>Box Office</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                   </div></a>
              </div>
-->
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box"><a href="/polls#/entertainment">
                    <div><img class=" img-responsive" src="../images/entertainment.jpg"> </div>
                
                  <div class="count">Entertainment</div>
                  <h3>Lets have fun</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p></a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box"><a href="/polls#/sports">
                    <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/sports%201.jpg"> </div>
           
                  <div class="count">Sports</div>
                  <h3>Lets Play</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p></a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box"><a href="/polls#/politics">
                      <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/Politics-and-language.jpg"> </div>
      
                  <div class="count">Politics</div>
                  <h3>Vote for the best</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p></a>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 ">
                <div class="tile-stats dashboard-box"><a href="/polls#/general">
               <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/general.jpg"> </div>
                  <div class="count">General</div>
                  <h3>Keep Calm & Study</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p></a>
                </div>
              </div>
            </div>
    <div class="row">
       <div class="animated flipInY col-lg-3 ">
                <div class="tile-stats dashboard-box"><a href="/polls#/other">
                    
               <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/others_1.jpg"> </div>
                  <div class="count">Others</div>
                  <h3>Lets Poll</h3>
                    <p>Lorem ipsum psdea itgum rixt.</p></a>
                </div>
              </div>
           <div class="animated flipInY col-lg-3 ">
                <div class="tile-stats dashboard-box">
               <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/general.jpg"> </div>
                  <div class="count">Movies</div>
                  <h3>Box Office</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
           <div class="animated flipInY col-lg-3 ">
                <div class="tile-stats dashboard-box">
               <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/general.jpg"> </div>
                  <div class="count">Automobile</div>
                  <h3>Vroom Vroom</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
           <div class="animated flipInY col-lg-3 ">
                <div class="tile-stats dashboard-box">
               <div><img class=" img-responsive"  style="height:14.2em" src="../images/../images/general.jpg"> </div>
                  <div class="count">Education</div>
                  <h3>Keep Calm & Study</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
    
    
    
    
    </div>
    
<!--
    <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
    </div>
-->
    
</div>
<p>&nbsp;</p>

