
<div class="container-fluid">
    <div class="row ">
        <div class="col-xs-2">
            <a href="#/dashboard" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
        </div>
      
          <div class="title_right">
            <div class="col-xs-7 col-xs-5 col-xs-12 form-group pull-right top_search">
              <div class="input-group">
                <input type="text" class="form-control"   ng-model="query" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>
    
    </div>

            <div class="row top_tiles">
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-caret-square-o-right"></i></div>
                  <div class="count">Entertainment</div>
                  <h3>Entertaining News</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-soccer-ball-o"></i></div>
                  <div class="count">Sports</div>
                  <h3>Lets Play</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-hand-pointer-o"></i></div>
                  <div class="count">Politics</div>
                  <h3>Vote for Best</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-check-square-o"></i></div>
                  <div class="count">General</div>
                  <h3>Lets Poll</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
               <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-video-camera"></i></div>
                  <div class="count">Movies</div>
                  <h3>Box Office</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-comments-o"></i></div>
                  <div class="count">International</div>
                  <h3>New Sign ups</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-flask"></i></div>
                  <div class="count">Science</div>
                  <h3>Vidyan</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-automobile"></i></div>
                  <div class="count">Automobiles</div>
                  <h3>Vroom Vroom</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
              <div class="animated flipInY col-lg-4 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats dashboard-box">
                  <div class="icon"><i class="fa fa-book"></i></div>
                  <div class="count">Education</div>
                  <h3>Keep Calm & Study</h3>
                  <p>Lorem ipsum psdea itgum rixt.</p>
                </div>
              </div>
            </div>
    
<!--
    <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>App Versions</h2>
                <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  
                </div>
              </div>
    </div>
-->
    
</div>
<p>&nbsp;</p>

