<div class="page-header">
    <h1 style="color: black;">View Poll</h1>
</div>

<!--New Style-->
<div ng-hide="poll.userVoted">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <p id="viewPoll" class="lead">Please select one of the following options:</p>
                <div class="panel panel-primary panel-transparent">
                    <div id="pollQuestionPane" class="panel-heading">
                        <h3 class="panel-title">
                        <span class="glyphicon glyphicon-hand-right"></span>   {{poll.question}}</h3>
                    </div>
                    <div id="pollOptionsPane" class="panel-body">

                        <form role="form" ng-submit="vote()">
                            <div ng-repeat="choice in poll.choices" class="radio">


                                <ul class="list-group">
                                    <li id="pollOptions" class="list-group-item">
                                        <div class="checkbox">
                                            <label>
                                                <input style="color:black" type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}"> {{choice.text}}
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p>
                                <hr>
                            </p>

                        </form>
                    </div>
                    <div id="panelFooter" class="panel-footer text-center">
                        <button id="voteButton" type="button" class="btn btn-primary btn-block btn-sm">
                            Vote</button>
                        <a href="#" class="small" style="color: white;">View Result</a></div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--******************-->
<div ng-show="poll.userVoted">
    <!--    Bar Graph of the votes-->
    <table class="result-table">
        <tr ng-repeat="choice in poll.choices">
            <td>{{choice.text}}</td>
            <td>
                <table style="background-color: lightblue; width: {{choice.votes.length/poll.totalVotes*100}}%; text-align: right">
                    <tr>
                        <td>{{choice.votes.length}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    {{poll.choices[0].text}}
    <!--    Pie Chart of the votes-->
    <div>

        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
    </div>
    <p>
        <em>
			{{poll.totalVotes}} votes counted so far.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</em>
    </p>

    <p>
        <hr>
    </p>

    <p><a href="#/polls" class="btn btn-default" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p>
</div>

<p>&nbsp;</p>