<div class="page-header">
    <h1 id="pollListHead">Poll List</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-5">
            <a href="#/new" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-pencil"></span> New Poll</a>
        </div>
        <div class="col-xs-3">
        <select class='input-small' ng-model='query.level'>
                <option selected value="">All</option>
                <option selected value='Entertainment'>Entertainment</option>
                <option selected value='Politics'>Politics</option>
                <option selected value='Sports'>Sports</option>
            </select>
        </div>
        <div class="col-xs-7">
            <input id="searchbox" type="text" class="form-control" ng-model="query" placeholder="Search for a poll">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row" ng-switch on="polls.length" id="pollList">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul ng-switch-when="0">
                <li><em>No polls in databases. Would you like to <a href="#/new">create one</a>?</li>
	     </ul>
        <div >
            <ul ng-switch-default>
                <li  ng-repeat="poll in polls | filter:query" >
                    <a  href="#/poll/{{poll._id}}">{{poll.question}}</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>