<!--<div class="page-header">
	<h1>Create New Poll</h1>
</div>-->


<div class="col-md-6 col-md-offset-3" style="margin-top:80px">
<div class="panel panel-default newPolls">
<form role="form" ng-submit="createPoll()">
 
	<div  class="panel-heading">	
         <label for="pollQuestion" style="font-size: 18px;">Question</label>
        <textarea ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question" style="    font-size: 18px;"></textarea>
	</div>
    <ul class="list-group">
	<div class="list-group-item">
		<label for="pollCategory" style="    font-size: 18px;">
            Category</label>
           
        <select id="pollCategory" class="form-control" ng-model="poll.category" required style="    font-size: 18px;">
            <option value="Entertainment" ng-selected=true>Entertainment</option>
            <option value="politics">politics</option>
            <option value="Sports">Sports</option>
            <option value="General">General</option>
            <option value="other">other</option>
        </select>	
	</div>
	<div class="list-group-item">

		<div class=""  ng-repeat="choice in poll.choices">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">{{$index+1}} </span>
                <input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="ClearAnswer(choice)" ng-show="choice.text">Clear</button> 
                    <button class="btn btn-danger" type="button" ng-click="RemoveAnswer($index)">X</button>
                </span>
            </div>    
		</div>
	</div>	
    <div class="list-group-item option transparent" >           
        <div class="input-group input-group-lg">
            <span class="input-group-addon">{{poll.choices.length + 1}}</span>
            <input type="text" class="form-control" placeholder=" New option" disabled>
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addChoice() ">+</button>
            </span>
        </div>
     </div> 
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-primary" role="button" style="margin-left:10px" ><span class="glyphicon glyphicon-arrow-left"></span> Poll list</a>
		</div>
		<div class="col-xs-6">
<button class="btn btn-primary  pull-right" type="submit" style="margin-right:10px"  >Create <span class="glyphicon glyphicon-arrow-right"></span></button>
		</div>
	</div>
</ul>	
	<p>&nbsp;</p>
</form>
</div>
</div>
