<!--<div class="page-header">
	<h1>Create New Poll</h1>
</div>-->

<div class="jumbotron">
<form role="form" ng-submit="createPoll()">
	<div class="form-group">
		<label for="pollQuestion">Question</label>
		<input type="text" ng-model="poll.question" class="form-control" id="pollQuestion" placeholder="Enter poll question">
	</div>
	<div class="form-group">
		<label for="pollCategory" > 
            Category</label>
           
            <select id="pollCategory" ng-model="poll.category" required>
        <option value="Entertainment" ng-selected=true>Entertainment</option>
        <option value="politics">politics</option>
        <option value="Sports">Sports</option>
                <option value="General">General</option>
                <option value="other">other</option>
    </select>
		
	</div>
	<div class="form-group">
		<label>Choices</label>
		<div ng-repeat="choice in poll.choices">
			<input type="text" ng-model="choice.text" class="form-control" placeholder="Enter choice {{$index+1}} text"><br>
		</div>
	</div>		
	
	<div class="row">
		<div class="col-xs-12" style="margin-top: -20px; margin-bottom: 20px">
			<button type="button" class="btn btn-default" ng-click="addChoice()"><span class="glyphicon glyphicon-plus"></span> Add Another Choice</button>
		</div>
	</div>
	
	<p><hr></p>
	
	<div class="row">
		<div class="col-xs-6">
			<a href="#/polls" class="btn btn-default" role="button" style=" margin-bottom: -150px; background-color: #4dd2ff; width: 35%; font-weight:bold"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a>
		</div>
		<div class="col-xs-6">
<button class="btn btn-primary pull-right" type="submit" style="width: 30%; color: navy; margin-top: 20px;background-color: #66ff66;font-weight: bold;" >Create Poll &raquo;</button>
		</div>
	</div>
	
	<p>&nbsp;</p>
</form>
</div>
