<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="color: white;
    font-size: 2em;
    font-family: "serif";">
          Question:  {{poll.question}}
        </div>
    <!--    Bar Graph of the votes-->
        <div class="col-md-10">
            <table class="result-table ">
        <tr ng-repeat="choice in poll.choices">
            <td  >{{choice.text}}</td>
            <td class="bars"  >
                <table  class="bar-graph" style=" width: {{choice.votes.length/poll.totalVotes*100}}%; text-align: right">
                    <tr>
                        <td  class="bars" >{{choice.votes.length}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    </div>

    </div>
                 

          <div  class="row" >
        <em>
        <div class="col-md-3 col-md-offset-3">
            <span style="color:white;"><h2>Share Link</h2><span>        
        </div>
        <div class="col-md-4 col-md-offset-3">
        <input id="shr" type="text"  value="http://localhost:3000/shared/{{poll._id}}"  class="form-control"  readonly>
        </div>
        <div class="col-md-5">
            <button class="btn btn-primary " data-clipboard-action="copy" data-clipboard-target="#shr"> <span class="glyphicon glyphicon-copy"></span> Copy</button></span>
</div>


        </em>

        </div>
    <!--    Pie Chart of the votes-->
    
        <div class="row">
    <div  ng-show="poll.userVoted" >
    
    
    <select class='form-control'  id='chart' ng-model="charts" ng-change="chartChange()" >
    <option ng-selected=true value='pie'> Pie Chart</option>
    <option value='doughnut'> Doughnut Chart</option>
    <option value='polar'> Polar Area</option>  
    
    </select>
    
    
    
    <div >

        <canvas  id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-options="options">
        </canvas>
    </div>

    <!--Doughnut Chart of votes-->
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
    </canvas>

    <!--Polar area chart-->
    <canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels" chart-options="options">
    </canvas>

 




    
    <p>
        <em>
			{{poll.totalVotes}} votes counted so far.
			<span ng-show="poll.userChoice">You voted for <strong>{{poll.userChoice.text}}</strong>.</span>
		</em>
    </p>

    <p>
        <hr>
    </p>

    <p><a href="#/polls" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-arrow-left"></span> Back to Poll List</a></p>

</div>
</div>


<div class="div col-md-6  comment-box">

  <h1> Comments</h1>
  <div class="dialogbox">
   <div class="row" ng-repeat="comment in poll.comments">
        <div class="commentImage col-md-1" ng-show="!comment.userdp"> <img src="../37c3eefdf3cf2daecc99c4fbff072d60Chrysanthemum.jpg" class="img-circle col-lg-3 commentpic"></div> <div class="commentImage col-md-1" ng-show="comment.userdp"> <img src="../{{comment.userdp}}" class="img-circle col-lg-3 commentpic"></div>
       <div class="col-md-8 comment-body">
        <span class="tip tip-left"></span>
        <div class="message">
        <span class="comment-message"><h4> {{comment.comment}}</h3> </span>
             <div>- {{comment.userid}} </div>
       </div>
       </div>

   </div>
  </div>

        <div class="row">
            <div class="col-md-12">
        <form role="form" ng-submit="comment()">
            <div class="col-md-7">
            <input class="form-control input-lg comment-input" type="text" placeholder="Add Your Comment Here" ng-model="commenttext">
            </div>
            <div class="col-md-3">
            <button class="btn btn-primary btn-block btn-sm" type="submit">Comment</button>
            </div>
        </form>
        </div>
    </div>


</div>




