<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/contactstyle.css">

</head>

<body>
    <div class="wrapper">
        <div class="brand">Polling Application</div>

         <!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="div-ele1">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/polls">Home</a>
					</li>
					<li><a href="/polls">View Polls</a>
					</li>
					<li>
                        <select class="dropdown">
                        <option value="abc" style="background-color:rgba(0,0,0,0.65)">Categories</option>
                        <option value="def" style="background-color:rgba(0,0,0,0.65)">Entertainment</option>
                        <option value="ghi" style="background-color:rgba(0,0,0,0.65)">Sports</option>
                        <option value="jkl" style="background-color:rgba(0,0,0,0.65)">Politics</option>
                        <option value="jkl" style="background-color:rgba(0,0,0,0.65)">General</option>
                        <option value="jkl" style="background-color:rgba(0,0,0,0.65)">Others</option>
                    </select>
					</li>
					<li><a href="/about">About</a>
					</li>
                    <li><a href="/contact">Contact Us</a>
					</li>
                    <li><a href="/profile">Profile</a>
					</li>
                    <li><a href="/logout" class="btn btn-default btn-sm" style="color:black;">Logout</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

    <div class="container" id="profileform">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>

        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                   <h3><span class="fa fa-user"></span> User</h3>
                     <img src="./images/2.png" class="img-circle col-lg-3 imgprof" >

                    <p style="color:black">
                        <strong>id</strong>:
                        <%= user._id %>
                            <br>
                            <strong>email</strong>:
                            <%= user.local.email %>
                                <br>
                                <strong>password</strong>:
                                <%= user.local.password %>
                    </p>

                </div>
            </div>

        </div>
         <!-- <a href="/polls" class="btn btn-default btn-sm">View Polls</a>-->

    </div>
        <div class="footer col-xs-12">
    © Copyright 2015 Polling Application. All Rights Reserved.
    </div>
</div>
</body>

</html>
